PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Ponnu@2006
DB_NAME=auction_system
JWT_SECRET=anjooran404

MAIL_USER=johndoe@gmail.com
EMAIL_PASS=your_16_character_app_password

CLIENT_URL=http://localhost:5174

